link(rel="stylesheet" href="styles/prism.css")
script(src="prism.js")
link(href='styles/style.styl' rel='stylesheet')

include sidebar.pug

#content
  include api/models.pug
  include api/posts.pug
  include api/tags.pug
  include api/comments.pug
  include api/postTags.pug