mixin auth
  h3 Requirements
  ul 
    li 
      h4 Authentication
      div With no auth, should return
      :code(javascript)
        401 Unauthorized

mixin offset
  h3 Parameters
  .param ?offset=<span>NUMBER</span>
  p Offsets the responses by a set number.


block content
  h1 Tags API
  .endpoint#get_tags
    h2 <span>GET</span> /tags
    p.
      Should return 100 tags, sorted by number of postTags for that tag that have been created between now and the requesting user's last login, or one month, whichever is longer. The number of postTags for that tag should be populated into the "count" field. 
    
    +auth
    +offset

    h3 Example response
    :code(javascript)
      {
        tags: [
          {
            "name": "funny", 
            "createdBy": "mrWilson",
            "admins": [
              "jimboslice", "dolores68", "choppaChunka"
            ],
            "createdDate": "2018-02-13 1:02pm",
            "count": 28
          },
          {
            "name": "news", 
            "createdBy": "phildawg",
            "admins": [
              "jimboslice", "dolores68", "choppaChunka"
            ],
            "createdDate": "2018-02-11 11:28am"
            "count": 22
          },
          
          ...etc

        ]
      }